// Colors
$primary: #E8C300;
$white: #ffffff;
$black: #000000;
$gray: #333333;
$lightgray: #E5E5E5;

// Icons
$i-s: 0.93rem;
$i-m: 1.33rem;

// Font
$font-s: 0.8rem; // 12px
$font-m: 0.93rem; // 14px
$font-l: 1.2rem; // 18px
$font-xl: 2.4rem; // 36px

$font-title3: 3.06rem; // 46px
$font-title2: 4.4rem; // 66px
$font-title: 6.4rem; // 96px

// Other
$hover: all 0.2s ease;