.delicious {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
  }

  &__name {
    margin-right: 1rem;
    color: $gray;
    font-family: 'Banny', sans-serif;
    font-weight: 700;
    font-size: $font-l;
    line-height: 18px;
  }

  &__price {
    color: $gray;
    font-family: 'Banny', sans-serif;
    font-weight: 700;
    font-size: $font-l;
    line-height: 18px;
  }

  &__desc {
    margin-right: 1rem;
    color: rgba($gray, 0.5);
    font-weight: 400;
    font-size: $font-s;
    line-height: 18px;
    text-align: left;
  }
}

// Media
@include mobile {
  .delicious {
    &__item {
      width: 100%;
    }

    &__header {
      justify-content: space-between;
    }
  }
}
