.input {
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.66rem;
  }

  &__item {
    padding: 1.5rem 1.2rem;
    max-width: 420px;
    width: 100%;

    font-family: 'OpenSans', sans-serif;
    color: $gray;
    font-size: $font-m;
    font-weight: 400;
    line-height: 20px;

    appearance: none;

    background-color: $lightgray;
    border: 2px solid $lightgray;
    border-radius: 5px;
    transition: $hover;
    
    &::placeholder {
      color: rgba($gray, 0.5);
    }

    &:focus {
      border: 2px solid $primary;
      outline: none;
    }
  }

  &__select {
    position: relative;

    select {
      width: 100%;
      appearance: none;
      padding: 1.5rem 1.2rem;
      font-family: 'OpenSans', sans-serif;
      color: $gray;
      font-size: $font-m;
      font-weight: 400;
      line-height: 20px;
      appearance: none;
      background-color: $lightgray;
      border: 2px solid $lightgray;
      border-radius: 5px;
      transition: $hover;

      &:focus {
        border: 2px solid $primary;
        outline: none;
      }
    }

    &::before {
      margin-top: -10px;

      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      z-index: 1;

      pointer-events: none;

      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-size: $i-m;
      font-weight: 900;
      color: rgba($gray, 0.5);
    }
  }

  &__textarea {
    padding: 1.5rem 1.2rem;
    max-height: 120px;
    width: 100%;

    font-family: 'OpenSans', sans-serif;
    color: $gray;
    font-size: $font-m;
    font-weight: 400;
    line-height: 20px;

    appearance: none;
    resize: none;

    background-color: $lightgray;
    border: 2px solid $lightgray;
    border-radius: 5px;
    transition: $hover;
    
    &::placeholder {
      color: rgba($gray, 0.5);
    }

    &:focus {
      border: 2px solid $primary;
      outline: none;
    }
  }
}

// Media
@include sm-tablet {
  .input {
    &__header {
      grid-template-columns: 1fr;
    }

    &__item {
      max-width: 100%;
    }
  }
}